img {
  position:fixed;
  top:20%;
  left: 15%;
  width: 70%;
}
body {
  text-align: center;
  background-color: gray;
}


button {
  position:fixed;
  top:45vh;
  width:10%;
  left:45%;
  z-index:5;
}
